<?xml version="1.0"?>
<packages>
    <!-- dev -->
    <package id="clink" />
    <package id="ConEmu" />
    <package id="Gow" />
    <package id="7zip.install" />
    <package id="Desktops" />
    <package id="Everything" />
    <package id="nodejs" />
    <package id="winmerge" />
    <package id="SakuraEditor" />
    <package id="vim" />

    <!-- browser -->
    <package id="Firefox" />
    <package id="GoogleChrome" />

    <!-- version control -->
    <package id="git" />
    <package id="hg" />
    <package id="svn" />
    
    <!-- language -->
    <package id="golang" />
    <package id="python" />
    <package id="python3" />
    <package id="jdk8" />

    <!-- java -->
    <package id="maven" />

    <!-- windows -->
    <package id="sysinternals" />
    <package id="dependencywalker" />
    <package id="TcpView" />

    <!-- IDE -->
    <!--
    <package id="eclipse-java-luna" />
    <package id=VisualStudioCommunity2013" />
    -->
</packages>
